body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
.logo {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 28px;
  color: #434455;
  text-transform: uppercase;
}
.logo-accent {
  color: #4d5ae5;
}

.nav-link {
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  margin-right: 32px;
}
.nav-link:hover {
  color: #4d5ae5;
}

.page-nav {
  align-items: center;
}

.page-nav .link {
  color: #434455;
}

.page-nav .link:hover {
  color: #4d5ae5;
}

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  letter-spacing: 1.12px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-title {
  text-align: left;
}
.Light {
  background-color: #f4f4fd;
  padding: 100px 0;
}

.team-card {
  background-color: #ffffff;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

footer {
  background-color: #2e2f42;
}
.footer-text {
  color: #ffffff;
}
.footer-logo {
  color: #4d5ae5;
  text-transform: uppercase;
}
.logo-accen1 {
  color: rgba(244, 244, 253, 1);
}
